<div class="container">
	<div id="workingArea">
		<div class="row">
			<div class="col-xs-12 text-center">
				<div id="heading">
					<h1>Welcome Eater, to <span class="restaurantName">Eat-Da-Burger restaurant</span></h1>
				</div>
				<div class="row">
					<div class="col-xs-10 col-xs-offset-1">
						<div class="instructions">
							<h3 class="importantText">Returning customers:</h3>
							<h3>Click on your name to view your creations (and eat them!)</h3>
							<h3 class="importantText">New customers: </h3>
							<h3>Enter your name below to start creating (and devouring!) your burgers.</h3>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row newCustomerArea text-center">
			<div class="col-xs-12">
				<h2 >New Customer?</h2>
				<div id="newCustomerArea">
					<form class="customerAddForm" action="/add/customer" method="POST">
						<label for="name">Name:</label>
						<input class="form-inline" type="textbox" id="customerName" name="name">
						<button class="btn btn-success btn-lg" id="addCustomer" type="submit">Add me</button>
					</form>
				</div>
			</div>
		</div>

		<div class="row existingCustomersArea text-center">
			<div class="col-xs-12">
				<h2 id="customerHeader">Click your name to go to your creations page</h2>
				<div class="customers">
					{{#each customers}}
						<div class="col-xs-2">
							<form action="/customer/{{this.id}}" method="GET">
								<button type="submit" class="getCustomerBurgers btn btn-lg btn-info">{{this.customerName}}</button>
							</form>
						</div>
					{{/each}}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div id="burgers">
					<div class="row">
						<div class="col-sm-6 col-sm-offset-1">
							<button id="viewOrderedBurgers" data-toggle="collapse" href="#collapseOrdered" aria-expanded="true" aria-controls="collapseOrdered" class="btn btn-lg btn-danger">View all Ordered burgers</button>
							<div id="collapseOrdered" class="collapse">
								{{#each burgers}}
									{{#unless this.devoured}}
										<div class="readyToDevour">
											<p class="burgerLabel"><img class="burgerPic" src=""><span class="burgerName">{{this.burger_name}}</span></p>
											<p class="date">Ordered at: <span class="devouredOrderedDate">{{dateTimeFormat this.createdAt}}</span></p>
											<p class="customerNameLabel">Customer: <span class="customerName">{{this.customerName}}</span></p>
									    </div>
									{{/unless}}
								{{/each}}
							</div>
						</div>
						<div class="col-sm-4 col-sm-offset-1">
							<button id="viewDevouredBurgers" data-toggle="collapse" href="#collapseDevoured" aria-expanded="true" aria-controls="collapseDevoured" class="btn btn-lg btn-danger">View all Devoured burgers</button>
							<div id="collapseDevoured" class="collapse">
								{{#each burgers}}
									{{#if this.devoured}}
										<div class="alreadyDevoured">
											<p class="burgerLabel"><img class="wrapperPic" src=""><span class="burgerName">{{this.burger_name}}</span></p>
											<p class="date eaten">Devoured at: <span class="devouredOrderedDate">{{dateTimeFormat this.updatedAt}}</span></p>
											<p class="customerNameLabel">Customer: <span class="customerName">{{this.customerName}}</span></p>
										</div>
									{{/if}}
								{{/each}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{!-- Audio files --}}
	<audio id="buttonClickSound">
    	<source src="/assets/sounds/buttonClick.mp3">
	</audio>
	{{!-- Video files --}}
	<video id="burgerVid" playsinline autoplay muted loop>
        <source src="/assets/img/stockBurger.mp4" type="video/mp4">
    </video>
</div>
<script type="text/javascript" src="/assets/js/burger_script.js"></script>